@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* p {
  font-family: "Roboto", sans-serif;
} */

.container {
  margin: auto;
  width: 90%;
}

/* HEADER STYLE */

header {
  background-color: #5cdb95;
  border-radius: 2px;
}

header a {
  color: #05386b;
  font-weight: 700;
  margin-left: 5px;
  text-decoration: none;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header ul li {
  float: right;
}

header ul li a:link,
header ul li a:visited {
  margin-left: 5px;
  color: #05386b;
  font-weight: 600;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

header ul li a:hover,
header ul li a:active {
  background-color: #05386b;
  color: #ffffff;
}

/* HEADER END */

/* HERO SECTION */
.hero-section {
  display: flex;
  margin: auto;
  max-width: 90%;
  margin-bottom: 2rem;
}
.hero-text {
  flex: 50%;
  margin-top: 15%;
}

.hero-text p {
  font-size: 20px;
  font-weight: 600;
}

.hero-text h1 {
  color: #05386b;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
}

.typewriter {
  letter-spacing: 0.1em;
}

.social {
  margin-top: 20px;
}
.social a {
  color: black;
  text-decoration: none;
  font-size: 50px;
  margin-right: 10px;
}

.social a:hover {
  color: #05386b;
}

.social a:active {
  background-color: #ffffff;
  font-size: 50px;
  margin-right: 10px;
}

.social a:visited {
  background-color: #ffffff;
  font-size: 50px;
  margin-right: 10px;
}
.hero-avatar {
  flex: 50%;
}

.hero-avatar img {
  width: 100%;
  height: auto;
  max-width: 700px;
}

/* HERO SECTION END */

/* SKILLS */
.my-skills {
  margin-top: 5px;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}

.my-skills h2 {
  text-align: center;
  color: #05386b;
  font-family: "Sansita Swashed", cursive;
  font-size: 30px;
}

.skills-image {
  text-align: center;
  padding: 20px;
}
.skills-image img {
  width: 100%;
  height: auto;
  max-width: 70px;
}

/* SKILLS END */

/* PROJECTS START */
.my-projects {
  padding: 10px;
  margin-top: 10px;
}

.my-projects h2 {
  text-align: center;
  color: #05386b;
  font-family: "Sansita Swashed", cursive;
  font-size: 30px;
}

.my-projects p {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
}

.center-button {
  margin-top: 30px;
  text-align: center;
}

.center-button a {
  background-color: #379683;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 25px;
  color: #ffffff;
  text-transform: uppercase;
}

.center-button a:hover {
  background-color: #05386b;
  transition: 0.4s;
}

.center-button a:active {
  background-color: #379683;
}

.center-button a:visited {
  /* background-color: #379683; */
}
/* PROJECTS END */

/* BLOGS START */
.my-blogs {
  margin-top: 30px;
  background-color: whitesmoke;
  padding-bottom: 40px;
  border-radius: 10px;
}

.my-blogs h2 {
  text-align: center;
  color: #05386b;
  font-family: "Sansita Swashed", cursive;
  font-size: 30px;
}

.my-blogs p {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
}

.center-blogs-button {
  margin-top: 30px;
  text-align: center;
}

.center-blogs-button a {
  /* background-color: #379683; */
  border: 1px solid #379683;
  color: #379683;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
}

.center-blogs-button a:hover {
  background-color: #05386b;
  color: #ffffff;
}

.center-blogs-button a:active {
  background-color: #379683;
}

.center-blogs-button a:visited {
  border: 1px solid #379683;
}
/* BLOGS END */

/* FOOTER START */
footer {
  background-color: #5cdb95;
  border-radius: 2px;
  margin-top: 20px;
}

footer div {
  padding: 20px;
  color: #05386b;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1px;
}
/* FOOTER END */

/* BLOG HTML */
.blog-hero-section {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 90%;
  margin-bottom: 2rem;
}

.blog-avatar img {
  width: 100%;
  height: auto;
  max-width: 400px;
}
/* BLOG HTML END */

/* PROJECTS.HTML */
.head-project {
  text-align: center;
  background-color: whitesmoke;
  padding: 10px;
  color: #05386b;
  font-size: 20px;
  font-weight: 800;
  font-family: "Sansita Swashed", cursive;
}
.main-project-div-even {
  text-align: center;
  margin-bottom: 30px;
  padding: 15px;
}
.main-project-div-odd {
  text-align: center;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
}
.project-name {
  font-style: italic;
  font-weight: 600;
  text-transform: capitalize;
  color: #05386b;
  font-size: 30px;
}

.project-description {
  font-size: large;
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
}

.project-btn {
  margin-top: 20px;
}
.gotosite {
  background-color: #379683;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 20px;
  color: #ffffff;
}

.gotosite:hover {
  background-color: #05386b;
  transition: 0.4s;
}

.gotosite:active {
  background-color: #379683;
}

.gotosite:visited {
}

.sourcecode {
  /* background-color: #379683; */
  border: 1px solid #379683;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 20px;
  color: #05386b;
}

.sourcecode:hover {
  background-color: #05386b;
  border: 1px solid #05386b;
  color: #ffffff;
  transition: 0.4s;
}

.sourcecode:active {
  background-color: #05386b;
}

.sourcecode:visited {
}

/* PROJECTS.HTML END*/

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .container {
    margin: auto;
    width: 100%;
  }
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-avatar {
    flex: 100%;
  }
  .hero-avatar img {
    width: 100%;
    height: 400px;
    max-width: 700px;
  }
  .hero-text {
    flex: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin: auto;
    width: 100%;
  }
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-text {
    flex: 100%;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 30px;
  }
  .hero-text p {
    font-size: 15px;
    font-weight: 600;
  }
  .hero-avatar {
    flex: 100%;
  }
  .hero-avatar img {
    width: 100%;
    height: 200px;
    max-width: 700px;
  }
}

/* MEDIA QUERIES END */
